.skulls {
  border: 2px solid #ddd;
  border-radius: 0.4rem;
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem;
  margin: 2rem 0 0;
}

.skull {
  width: calc(50% - 4%);
  margin: 2%;
  text-align: center;
}

.skullButton {
  width: 100%;
  padding: 0;
  border-radius: 0.4rem;
}

.skullButton:hover,
.skullButton:focus {
  cursor: pointer;
}

.skullImage {
  width: 100%;
}

@media (min-width: 600px) {
  .skulls {
    flex-wrap: nowrap;
  }
}
